.body{
    background-image: url(resources/Фон.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header{
    display: flex;
    height: 58px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.header_block{
    display: flex;
    width: auto;
    height: 24px;
    margin: 17px 79px;
    flex-direction: row;
    gap: 701px;
}

.logo{
    width: 157px;
    height: 22px;
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}

.nav_block{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.header_icons{
    display: flex;
    width: 126px;
    height: auto;
    flex-direction: row;
    gap: 27px;
    margin-right: 25px;
}

.icon{
    width: 23px;
    height: 24px;
}

.hr{
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin: 0;
}

.greetings_block{
    display: flex;
    width: auto;
    height: 22px;
    flex-direction: row;
    align-items: center;
    margin-left: 27px;
}

.greetings_text{
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.greetings_links{
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

.main{
    display: flex;
    width: 444px;
    height: 584px;
    flex-shrink: 0;
    flex-direction: row;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: auto;
    margin-top: 54px;
}

.square{
    width: 18px;
    height: 18px;
    margin-top: 29px;
    background: #3CB878;
    position: fixed;
}

.main_content{
    display: flex;
    width: 324px;
    flex-direction: column;
    margin: 0 auto;
}

.sign-up_header{
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    margin: 29px 0 15px 0;
}

.sign-up{
    width: auto;
    height: 16px;
    color: #434343;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.log-in_link{
    width: auto;
    height: 14px;
    color: #3CB878;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

.sign-up_buttons_block{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-bottom: 31px;
}

.sign-up_button_facebook{
    display: flex;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #305DB8;
    border-radius: 4px;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign-up_button_google{
    display: flex;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #DF4A32;
    border-radius: 4px;
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.facebook_logo{
    margin-right: 13px;
}

.google_logo{
    width: 30px;
    height: 19px;
    margin-right: 13px;
    background-image: url(resources/G+.png);
}

.button_hr{
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #0A162F;
    margin: 0 18px 0 0;
}

.button_text{
    width: 71px;
    height: 14px;
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.hr_block{
    display: flex;
    height: 14px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

.hr_block_hr{
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    border: none;
}

.or{
    margin: 0;
    height: 14px;
    color: #848484;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.form_block{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 12px;
}

.input_item:focus-within {
    fill: #FFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    position: relative;
    top: -3px;
}

.input_item{
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    color: #434343;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

.terms_block{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.checkbox{
    width: 20px;
    height: 20px;
    outline-color: #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    margin: 0 8px 0 0;
}

.terms{
    display: flex;
    width: auto;
    height: 20px;
    color: #434343;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
}

.terms_link{
    display: flex;
    width: auto;
    height: 20px;
    color: #3CB878;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
}

.create_account_button{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 99px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: none;
}

.logo:hover{
    color: #01813F;
}

.icon:hover path,
.icon:active path {
  fill: #3CB878; 
}

.greetings_links:hover{
    color: #01813F;
}

.log-in_link:hover{
    color: #01813F;
    text-decoration: underline;
}

.sign-up_button_facebook:hover{
    background: #022263;
}

.sign-up_button_google:hover{
    background: #AB1F09;
}

.terms_link:hover{
    color: #01813F;
    text-decoration: underline;
}

.create_account_button:hover{
    background: #01813F;
}